.btn-circle {
width: 35px;
height: 35px;
text-align: center;
padding: 6px 0;
font-size: 12px;
border-radius: 50px;
margin-bottom: 22px;
margin-left: 10px ;
background-color: gainsboro;
}
.sidebar1{
width: 185px;
}
.col11 {
margin-left: 20px !important;  
}
.cardbody1 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.card11 {
 border-style: none;
}
.bgdark{
position: absolute;
left: auto;
border-radius: 0%;
} 